body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

p {
    color: black;
    font-size: 24px;
    margin-bottom: 20px;
}

/*Estilos de las Flipcards*/
.Contenedor_FlipCards {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.Flipcard {
    position: relative;
    width: 250px;
    height: 400px;
    color: white;
    cursor: pointer;
    transition: 1s ease-in-out;
    transform-style: preserve-3d;
    margin: 10px;
}

.Flipcard:hover {
    transform: rotateY(0.5turn);
}

.Flipcard__face {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transition: 1s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px; /* Para dar algo de espacio al texto */
    -webkit-box-reflect: below 0 linear-gradient(transparent, transparent, rgba(0, 0, 0, 0.4));
    background-color: blueviolet;
    border-radius: 10px;

}

.Flipcard__face--back {
    transform: rotateY(0.5turn);
    background-color: cornflowerblue;
    display: flex;
    flex-direction: column; /* Coloca los elementos en una columna */
    justify-content: center; /* Opcional: Centra verticalmente */
    align-items: center; /* Opcional: Centra horizontalmente */
}

.Flipcard__face--back button {
    display: block;
    width: 90%; /* Ajusta el ancho al 90% o 100% según el diseño deseado */
    margin: 0 auto 10px auto; /* Centra los botones horizontalmente */
    padding: 10px; /* Opcional: Mejora la accesibilidad */
    background-color: wheat;
}
